SECRET_KEY='django-insecure-2$3)$pw=+33#u2@szsgojvc^#(o#0qv@p6z*xc3vfk=2jki(vt'
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5433

ENV=DEV
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost